.contacto {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
   color: white;
}

.descripcion {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-enviar {
  padding: 12px;
  background: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-enviar:hover {
  background: #333;
}

p { color: white;}
